body {
    padding:0px;
    margin:0px;
    overflow:hidden;
    background-color: #000;
}

.green {
    animation: greenify 1s;
}

@keyframes greenify {
  0% {
    background-color: #070;
  }
  100% {
    background-color: #000;
  }
}

.red {
    animation: redify 1s;
}

@keyframes redify {
  0% {
    background-color: #700;
  }
  100% {
    background-color: #000;
  }}
